
.singleWindow, .dualWindow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.singleWindow p {
    text-align: left;
    color:azure;
    font-weight: 500;
    font-size: 16px;
}

.windowSection{
    padding: 20px;
    border: 10px solid white;
    background-color: rgb(212, 179, 129);
    width: 1200px;
    overflow: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.windowSection h1{
    font-size: 120px;
    text-wrap: nowrap;
}

.windowSection::-webkit-scrollbar {
    display: none !important;
}

.leftSection, .rightSection{
    width: 550px;
    height: 400px;
    padding: 20px;
    border: 10px solid rgba(232, 229, 229, 0.293);
    box-shadow: 0px 0px 20px rgb(206, 203, 203);
    background-color: rgb(8, 6, 3);
    overflow: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.leftSection h1{
    color: rgb(255, 186, 111); 
    font-size: 120px;
    text-wrap: nowrap;
}

.rightSection h1{
    font-size: 120px;
    text-wrap: nowrap;
    color:rgb(189, 255, 127);
}

.leftSection::-webkit-scrollbar {
    display: none !important;
}

.rightSection::-webkit-scrollbar {
    display: none !important;
}